---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto | Eular Group">
  <section class="p-6 space-y-4">
    <h1 class="text-3xl font-bold">Contáctanos</h1>
    <form class="space-y-4 max-w-xl">
      <input class="w-full p-2 border rounded" type="text" placeholder="Nombre" />
      <input class="w-full p-2 border rounded" type="email" placeholder="Email" />
      <textarea class="w-full p-2 border rounded" placeholder="Mensaje"></textarea>
      <button class="bg-yellow-500 text-white px-4 py-2 rounded">Enviar</button>
    </form>
    <!-- <img class="w-full h-80 bg-gray-300" alt="Mapa o zona de cobertura" /> -->
     <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;">
      <div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;">
			<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=barcelona&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
		</div>
		<a class="my-codefor-googlemap" href="https://www.bootstrapskins.com/themes" id="grab-map-authorization">premium bootstrap themes</a>
		<!-- <style>#embed-map-canvas .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style> -->
  </section>
</Layout>