---
import { Image } from 'astro:assets';
import logo from '../assets/img/logo.png';
---

<header class="flex justify-between py-8 mx-auto w-3/5 lg:py-7 ">
   <!-- <Image src={logo} class="max-w-20 max-h-20" alt="logo" /> -->
   <a href="/" class="">Eular Group</a>
   <!-- <div class="mb-8 lg:mb-16 max-w-20 max-h-20">
   </div> -->
   <nav class="flex items-end gap-5">
      <a class="" href="/">Inicio</a>
      <a class="" href="/services">Servicios</a>
      <!-- <a class="" href="/projects">Proyectos</a> -->
      <a class="" href="/about">Sobre nosotros</a>
      <a class="" href="/contact">Contacto</a> 
   </nav>
</header>











<!-- 
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
   <div class="mx-auto text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-5xl font-extrabold tracking-tight">SpaceX Launches</h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">All information about SpaceX launches</p>
   </div>
   <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
      <a class="text-white" href="/">Ultimos lanzamientos</a>
      <a class="text-white" href="/oldest">Los mas antiguos</a>
   </nav>
</header> -->